<!-- CHECKIN -->
<div id="checkin">
    <!-- Page Heading -->
    <h2 class="mb-3" style="font-weight: bold; color: black;">GET /attendance/{checkin}</h2>
    <hr>
    <h5 class="mb-2" style="color: black;">Description</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
    <p style="color: black;">
        Endpoint ini digunakan untuk melakukan presensi, yaitu presensi masuk kantor dan presensi masuk setelah jam istirahat. 
    </p>
    </div>
    <h5 class="mb-2" style="color: black;">Sumber URL</h5>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">GET</span>
        <input type="text" class="form-control" value="http://localhost/attendance/{checkin}" disabled>
    </div>
    <h5 class="mb-2" style="color: black;">Headers</h5>
    <table class="table" style="color: black;">
        <thead>
            <tr>
                <th scope="col">Required Headers</th>
                <th scope="col" class="col-9">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><kbd>{Authorization}</kbd></td>
                <td>Isi dengan <kbd>TOKEN</kbd> yang sudah didapatkan dari login dengan format
                    <kbd>Bearer TOKEN</kbd>
                </td>
            </tr>
        </tbody>
    </table>
    <h5 class="mb-2" style="color: black;">Parameters</h5>
    <table class="table" style="color: black;">
        <thead>
            <tr>
                <th scope="col">Required Paramaters</th>
                <th scope="col" class="col-9">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><kbd>{checkin}</kbd></td>
                <td>Menspesifikasikan jenis checkin, yaitu checkin untuk masuk <kbd>checkin</kbd>
                    dan checkin setelah istirahat <kbd>checkinbreak</kbd></td>
            </tr>
        </tbody>
    </table>
    <h5 class="mb-2" style="color: black;">Example</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>curl --location --request GET 'localhost:8000/attendance/checkin' ^
--header 'Authorization: Bearer TOKEN'</code></pre>
    </div>
    <h5 class="mb-2" style="color: black;">Response</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>{
    "data": {
        "type": "attendances",
        "id": "5",
        "attributes": {
            "user_id": 1,
            "timeIn": "2021-07-06 12:51:32",
            "breakTimeOut": null,
            "breakTimeIn": null,
            "timeOut": null,
            "checkInStatus": "Telat",
            "checkOutStatus": null,
            "dateCreated": "2021-07-06T05:51:32.000000Z",
            "dateUpdated": "2021-07-06T05:51:32.000000Z",
            "dateDeleted": null
        },
        "links": {
            "self": "http://localhost/attendance/checkin/attendances/5"
        },
        "relationships": {
            "user": {
                "links": {
                    "self": "http://localhost/attendance/checkin/attendances/5/relationships/user",
                    "related": "http://localhost/attendance/checkin/attendances/5/user"
                }
            }
        }
    },
    "meta": {
        "api": "Service of Attendances"
    }
}</code></pre>
    </div>
</div>
<!-- END OF CHECKIN -->

<!-- CHECKOUT -->
<div id="checkout">
    <h2 class="my-3" style="font-weight: bold; color: black;">GET /attendance/{checkout}</h2>
    <hr>
    <h5 class="mb-2" style="color: black;">Description</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
    <p style="color: black;">
        Endpoint ini digunakan untuk melakukan presensi, yaitu presensi pulang dan presensi untuk jam istirahat. 
    </p>
    </div>
    <h5 class="mb-2" style="color: black;">Sumber URL</h5>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">GET</span>
        <input type="text" class="form-control" value="http://localhost/attendance/{checout}" disabled>
    </div>
    <h5 class="mb-2" style="color: black;">Headers</h5>
    <table class="table" style="color: black;">
        <thead>
            <tr>
                <th scope="col">Required Headers</th>
                <th scope="col" class="col-9">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><kbd>{Authorization}</kbd></td>
                <td>Isi dengan <kbd>TOKEN</kbd> yang sudah didapatkan dari login dengan format
                    <kbd>Bearer TOKEN</kbd>
                </td>
            </tr>
        </tbody>
    </table>
    <h5 class="mb-2" style="color: black;">Parameters</h5>
    <table class="table" style="color: black;">
        <thead>
            <tr>
                <th scope="col">Required Paramaters</th>
                <th scope="col" class="col-9">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><kbd>{checkout}</kbd></td>
                <td>Menspesifikasikan jenis checkin, yaitu checkout untuk pulang <kbd>checkout</kbd>
                    dan checkout untuk istirahat <kbd>checkoutbreak</kbd></td>
            </tr>
        </tbody>
    </table>
    <h5 class="mb-2" style="color: black;">Example</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>curl --location --request GET 'localhost:8000/attendance/checkout' ^
--header 'Authorization: Bearer TOKEN'</code></pre>
    </div>
    <h5 class="mb-2" style="color: black;">Response</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>{
    "data": {
        "type": "attendances",
        "id": "5",
        "attributes": {
            "user_id": 1,
            "timeIn": "2021-07-06 12:51:32",
            "breakTimeOut": "2021-07-06 12:51:49",
            "breakTimeIn": "2021-07-06 12:52:17",
            "timeOut": "2021-07-06 12:52:37",
            "checkInStatus": "Telat",
            "checkOutStatus": "Pulang awal",
            "dateCreated": "2021-07-06T05:51:32.000000Z",
            "dateUpdated": "2021-07-06T05:52:37.000000Z",
            "dateDeleted": null
        },
        "links": {
            "self": "http://localhost/attendance/checkout/attendances/5"
        },
        "relationships": {
            "user": {
                "links": {
                    "self": "http://localhost/attendance/checkout/attendances/5/relationships/user",
                    "related": "http://localhost/attendance/checkout/attendances/5/user"
                }
            }
        }
    },
    "meta": {
        "api": "Service of Attendances"
    }
}</code></pre>
    </div>
</div>
<!-- END OF CHECKOUT -->

<!-- ATTENDANCE LIST -->
<div id="attendancelist">
    <h2 class="my-3" style="font-weight: bold; color: black;">GET /attendance/{date}</h2>
    <hr>
    <h5 class="mb-2" style="color: black;">Description</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
    <p style="color: black;">
        Endpoint ini digunakan untuk melihat presensi kehadiran user. 
    </p>
    </div>
    <h5 class="mb-2" style="color: black;">Sumber URL</h5>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">GET</span>
        <input type="text" class="form-control" value="http://localhost/attendance/{date}" disabled>
    </div>
    <h5 class="mb-2" style="color: black;">Headers</h5>
    <table class="table" style="color: black;">
        <thead>
            <tr>
                <th scope="col">Required Headers</th>
                <th scope="col" class="col-9">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><kbd>{Authorization}</kbd></td>
                <td>Isi dengan <kbd>TOKEN</kbd> yang sudah didapatkan dari login dengan format
                    <kbd>Bearer TOKEN</kbd>
                </td>
            </tr>
        </tbody>
    </table>
    <h5 class="mb-2" style="color: black;">Parameters</h5>
    <table class="table" style="color: black;">
        <thead>
            <tr>
                <th scope="col">Required Paramaters</th>
                <th scope="col" class="col-9">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><kbd>{date}</kbd></td>
                <td>Menspesifikasikan tanggal, yaitu tanggal hari ini <kbd>today</kbd> dan
                    tanggal tertentu dengan format <kbd>yyyy-mm-dd</kbd></td>
            </tr>
        </tbody>
    </table>
    <h5 class="mb-2" style="color: black;">Example</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>curl --location --request GET 'localhost:8000/attendance/2021-06-02' ^
--header 'Authorization: Bearer TOKEN'</code></pre>
    </div>
    <h5 class="mb-2" style="color: black;">Response</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>{
    "data": [
        {
            "type": "users",
            "id": "1",
            "attributes": {
                "name": "Admin RHA",
                "address": "malang",
                "phoneNumber": "0852741936",
                "attendance": "Belum / Tidak hadir"
            },
            "links": {
                "self": "http://localhost/attendance/2021-06-02/users/1"
            },
            "relationships": {
                "attendance": {
                    "links": {
                        "self": "http://localhost/attendance/2021-06-02/users/1/relationships/attendance",
                        "related": "http://localhost/attendance/2021-06-02/users/1/attendance"
                    }
                }
            }
        },
        {
            "type": "users",
            "id": "3",
            "attributes": {
                "name": "Haffad-Kun",
                "address": "lamongan",
                "phoneNumber": "028125451245",
                "attendance": [
                    {
                        "id": 3,
                        "dateCreated": "2021-06-02 12:37:11",
                        "dateUpdated": "2021-06-02 13:09:06",
                        "dateDeleted": null,
                        "user_id": 3,
                        "timeIn": "2021-06-02 12:37:11",
                        "timeOut": null,
                        "breakTimeIn": null,
                        "breakTimeOut": null,
                        "date": "2021-06-02",
                        "checkInStatus": "Sakit",
                        "checkOutStatus": null
                    }
                ]
            },
            "links": {
                "self": "http://localhost/attendance/2021-06-02/users/3"
            },
            "relationships": {
                "attendance": {
                    "links": {
                        "self": "http://localhost/attendance/2021-06-02/users/3/relationships/attendance",
                        "related": "http://localhost/attendance/2021-06-02/users/3/attendance"
                    }
                }
            }
        },
        {
            "type": "users",
            "id": "4",
            "attributes": {
                "name": "Haffad-Kun",
                "address": "lamongan",
                "phoneNumber": "028125451245",
                "attendance": "Belum / Tidak hadir"
            },
            "links": {
                "self": "http://localhost/attendance/2021-06-02/users/4"
            },
            "relationships": {
                "attendance": {
                    "links": {
                        "self": "http://localhost/attendance/2021-06-02/users/4/relationships/attendance",
                        "related": "http://localhost/attendance/2021-06-02/users/4/attendance"
                    }
                }
            }
        }
    ],
    "meta": {
        "api": "Service of Attendances",
        "pagination": {
            "total": 3,
            "count": 3,
            "per_page": 10,
            "current_page": 1,
            "total_pages": 1
        }
    },
    "links": {
        "self": "http://localhost:8000/attendance/2021-06-02?page=1",
        "first": "http://localhost:8000/attendance/2021-06-02?page=1",
        "last": "http://localhost:8000/attendance/2021-06-02?page=1"
    }
}</code></pre>
    </div>
</div>
<!-- END OF ATTENDANCE LIST -->