<!-- LOGIN -->
<!-- Page Heading -->
<div id="login">

    <h2 class="mb-3" style="font-weight: bold; color: black;">POST /token/login</h2>
    <hr>
    <h5 class="mb-2" style="color: black;">Description</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <p style="color: black;">
            Endpoint ini digunakan untuk melakukan login.
        </p>
    </div>
    <h5 class="mb-2" style="color: black;">Sumber URL</h5>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">POST</span>
        <input type="text" class="form-control" value="http://localhost/token/login" disabled>
    </div>
    <h5 class="mb-2" style="color: black;">Parameters</h5>
    <table class="table" style="color: black;">
        <thead>
            <tr>
                <th scope="col">Required Paramaters</th>
                <th scope="col" class="col-9">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><kbd>{email}</kbd></td>
                <td>Email karyawan yang sudah didaftarkan</td>
            </tr>
            <tr>
                <td><kbd>{password}</kbd></td>
                <td>Password karyawan yang sudah didaftarkan</td>
            </tr>
        </tbody>
    </table>
    <h5 class="mb-2" style="color: black;">Example</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>curl --location --request POST 'localhost:8000/token/login' ^
--form 'email=&quot;name@email.com&quot;' ^
--form 'password=&quot;password&quot;'</code></pre>
    </div>
    <h5 class="mb-2" style="color: black;">Response</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>{
    "type": "New Token",
    "token": "TOKEN",
    "token_type": "bearer",
    "expires_in": 3600
}</code></pre>
    </div>
</div>
<!-- END OF LOGIN -->

<!-- REFRESH TOKEN -->
<!-- Page Heading -->
<div id="refreshtoken">
    <h2 class="my-3" style="font-weight: bold; color: black;">GET /token/refreshToken</h2>
    <hr>
    <h5 class="mb-2" style="color: black;">Description</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
    <p style="color: black;">
        Endpoint ini digunakan untuk memperbaruhi token user.
    </p>
    </div>
    <h5 class="mb-2" style="color: black;">Sumber URL</h5>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">GET</span>
        <input type="text" class="form-control" value="http://localhost:8000/token/refreshToken" disabled>
    </div>
    <h5 class="mb-2" style="color: black;">Headers</h5>
    <table class="table" style="color: black;">
        <thead>
            <tr>
                <th scope="col">Required Headers</th>
                <th scope="col" class="col-9">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><kbd>{Authorization}</kbd></td>
                <td>Isi dengan <kbd>TOKEN</kbd> yang sudah didapatkan dari login dengan format
                    <kbd>Bearer TOKEN</kbd>
                </td>
            </tr>
        </tbody>
    </table>
    <h5 class="mb-2" style="color: black;">Example</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>curl --location --request GET 'localhost:8000/token/refreshToken' ^
--header 'Authorization: Bearer TOKEN</code></pre>
    </div>
    <h5 class="mb-2" style="color: black;">Response</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>{
    "type": "Refresh Token",
    "token": NEW TOKEN,
    "token_type": "bearer",
    "expires_in": 3600
}</code></pre>
    </div>
</div>
<!-- END OF REFRESH TOKEN -->

<!-- LOGOUT -->
<!-- Page Heading -->
<div id="logout">
    <h2 class="my-3" style="font-weight: bold; color: black;">GET /token/logoutToken</h2>
    <hr>
    <h5 class="mb-2" style="color: black;">Description</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <p style="color: black;">
            Endpoint ini digunakan untuk melakukan logout.
        </p>
    </div>
    <h5 class="mb-2" style="color: black;">Sumber URL</h5>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">GET</span>
        <input type="text" class="form-control" value="http://localhost:8000/token/logoutToken" disabled>
    </div>
    <h5 class="mb-2" style="color: black;">Headers</h5>
    <table class="table" style="color: black;">
        <thead>
            <tr>
                <th scope="col">Required Headers</th>
                <th scope="col" class="col-9">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><kbd>{Authorization}</kbd></td>
                <td>Isi dengan <kbd>TOKEN</kbd> yang sudah didapatkan dari login dengan format
                    <kbd>Bearer TOKEN</kbd>
                </td>
            </tr>
        </tbody>
    </table>
    <h5 class="mb-2" style="color: black;">Example</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>curl --location --request GET 'localhost:8000/token/logoutToken' ^
--header 'Authorization: Bearer TOKEN</code></pre>
    </div>
    <h5 class="mb-2" style="color: black;">Response</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>Token Deleted</code></pre>
    </div>
</div>
<!-- END OF LOGOUT -->