<div id="addFurlough">

    <h2 class="mb-3" style="font-weight: bold; color: black;">PUT /furlough/add</h2>
    <hr>
    <h5 class="mb-2" style="color: black;">Description</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <p style="color: black;">
            Endpoint ini digunakan untuk menambahkan furlough atau Cuti untuk karyawan itu sendiri.
        </p>
    </div>
    <h5 class="mb-2" style="color: black;">Sumber URL</h5>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">PUT</span>
        <input type="text" class="form-control" value="http://localhost:8000/furlough/add" disabled>
    </div>
    <h5 class="mb-2" style="color: black;">Parameters</h5>
    <table class="table" style="color: black;">
        <thead>
            <tr>
                <th scope="col">Required Paramaters</th>
                <th scope="col" class="col-9">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><kbd>{Authorization}</kbd></td>
                <td>Isi dengan <kbd>TOKEN</kbd> yang sudah didapatkan dari login dengan format
                <kbd>Bearer TOKEN</kbd> </td>
            </tr>
            <tr>
                <td><kbd>{furloughStart}</kbd></td>
                <td>Berisi tanggal dimana awal dari cuti. Contoh <kbd>2021-05-14</kbd></td>
            </tr>
            <tr>
                <td><kbd>{furloughEnd}</kbd></td>
                <td>Berisi tanggal dimana akhir dari cuti. Contoh <kbd>2021-05-21</kbd></td>
            </tr>
        </tbody>
    </table>
    <h5 class="mb-2" style="color: black;">Example</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>curl --location --request PUT 'http://localhost:8000/furlough/add' ^
--header 'Authorization: Bearer TOKEN'
--form 'furloughStart=&quot;2021-05-14&quot;' ^
--form 'furloughEnd=&quot;2021-05-21&quot;'</code></pre>
    </div>
    <h5 class="mb-2" style="color: black;">Response</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>
{
    "data": {
        "type": "furloughs",
        "id": "1",
        "attributes": {
            "user_id": 4,
            "furloughStart": "2021-05-14",
            "furloughEnd": "2021-05-21",
            "furloughTotal": 5,
            "dateCreated": "2021-04-26T05:09:48.000000Z",
            "dateUpdated": "2021-04-26T05:09:48.000000Z",
            "dateDeleted": null
        },
        "links": {
            "self": "http://localhost/furlough/add/furloughs/1"
        },
        "relationships": {
            "user": {
                "links": {
                    "self": "http://localhost/furlough/add/furloughs/1/relationships/user",
                    "related": "http://localhost/furlough/add/furloughs/1/user"
                }
            }
        }
    },
    "meta": {
        "api": "Service of Attendances"
    }
}
        </code></pre>
    </div>
</div>

<div id="getFurloughSelf">

    <h2 class="mb-3" style="font-weight: bold; color: black;">GET /furlough/self</h2>
    <hr>
    <h5 class="mb-2" style="color: black;">Description</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <p style="color: black;">
            Endpoint ini digunakan untuk melihat data cuti dari karyawan itu sendiri .
        </p>
    </div>
    <h5 class="mb-2" style="color: black;">Sumber URL</h5>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">GET</span>
        <input type="text" class="form-control" value="http://localhost/furlough/self" disabled>
    </div>
    <h5 class="mb-2" style="color: black;">Parameters</h5>
    <table class="table" style="color: black;">
        <thead>
            <tr>
                <th scope="col">Required Paramaters</th>
                <th scope="col" class="col-9">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td><kbd>{Authorization}</kbd></td>
            <td>Isi dengan <kbd>TOKEN</kbd> yang sudah didapatkan dari login dengan format
                <kbd>Bearer TOKEN</kbd>
            </td>
            </tr>
           
        </tbody>
    </table>
    <h5 class="mb-2" style="color: black;">Example</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>curl --location --request POST 'localhost:8000/furlough/self' ^
--header 'Authorization: Bearer TOKEN'^</code></pre>
    </div>
    <h5 class="mb-2" style="color: black;">Response</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>
{
    "data": [
        {
            "type": "furloughs",
            "id": "3",
            "attributes": {
                "user_id": 3,
                "furloughStart": "2021-05-19",
                "furloughEnd": "2021-05-21",
                "furloughTotal": 3,
                "dateCreated": "2021-04-26T05:31:06.000000Z",
                "dateUpdated": "2021-04-26T05:31:06.000000Z",
                "dateDeleted": null
            },
            "links": {
                "self": "http://localhost/furlough/self/furloughs/3"
            },
            "relationships": {
                "user": {
                    "links": {
                        "self": "http://localhost/furlough/self/furloughs/3/relationships/user",
                        "related": "http://localhost/furlough/self/furloughs/3/user"
                    }
                }
            }
        },
        {
            "type": "furloughs",
            "id": "2",
            "attributes": {
                "user_id": 3,
                "furloughStart": "2021-05-14",
                "furloughEnd": "2021-05-21",
                "furloughTotal": 5,
                "dateCreated": "2021-04-26T05:11:23.000000Z",
                "dateUpdated": "2021-04-26T05:11:23.000000Z",
                "dateDeleted": null
            },
            "links": {
                "self": "http://localhost/furlough/self/furloughs/2"
            },
            "relationships": {
                "user": {
                    "links": {
                        "self": "http://localhost/furlough/self/furloughs/2/relationships/user",
                        "related": "http://localhost/furlough/self/furloughs/2/user"
                    }
                }
            }
        }
    ],
    "meta": {
        "api": "Service of Attendances",
        "pagination": {
            "total": 2,
            "count": 2,
            "per_page": 10,
            "current_page": 1,
            "total_pages": 1
        }
    },
    "links": {
        "self": "http://localhost/furlough/self/furlough?page=1",
        "first": "http://localhost/furlough/self/furlough?page=1",
        "last": "http://localhost/furlough/self/furlough?page=1"
    }
}
</code></pre>
    </div>
</div>

<div id="getFurloughById">

    <h2 class="mb-3" style="font-weight: bold; color: black;">GET /furlough/{id_user}</h2>
    <hr>
    <h5 class="mb-2" style="color: black;">Description</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <p style="color: black;">
            Endpoint ini digunakan untuk melihat data cuti dari karyawan dengan ID tertentu .
        </p>
    </div>
    <h5 class="mb-2" style="color: black;">Sumber URL</h5>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">GET</span>
        <input type="text" class="form-control" value="http://localhost/furlough/{id_user}" disabled>
    </div>
    <h5 class="mb-2" style="color: black;">Parameters</h5>
    <table class="table" style="color: black;">
        <thead>
            <tr>
                <th scope="col">Required Paramaters</th>
                <th scope="col" class="col-9">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><kbd>{Authorization}</kbd></td>
                <td>Isi dengan <kbd>TOKEN</kbd> yang sudah didapatkan dari login dengan format
                    <kbd>Bearer TOKEN</kbd>
                </td>
            </tr>

        </tbody>
    </table>
    <h5 class="mb-2" style="color: black;">Example</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>curl --location --request POST 'localhost:8000/furlough/{id_user} ^
--header 'Authorization: Bearer TOKEN'^</code></pre>
    </div>
    <h5 class="mb-2" style="color: black;">Response</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>
{
    "data": [
        {
            "type": "furloughs",
            "id": "3",
            "attributes": {
                "user_id": 3,
                "furloughStart": "2021-05-19",
                "furloughEnd": "2021-05-21",
                "furloughTotal": 3,
                "dateCreated": "2021-04-26T05:31:06.000000Z",
                "dateUpdated": "2021-04-26T05:31:06.000000Z",
                "dateDeleted": null
            },
            "links": {
                "self": "http://localhost/furlough/3/furloughs/3"
            },
            "relationships": {
                "user": {
                    "links": {
                        "self": "http://localhost/furlough/3/furloughs/3/relationships/user",
                        "related": "http://localhost/furlough/3/furloughs/3/user"
                    }
                }
            }
        },
        {
            "type": "furloughs",
            "id": "2",
            "attributes": {
                "user_id": 3,
                "furloughStart": "2021-05-14",
                "furloughEnd": "2021-05-21",
                "furloughTotal": 5,
                "dateCreated": "2021-04-26T05:11:23.000000Z",
                "dateUpdated": "2021-04-26T05:11:23.000000Z",
                "dateDeleted": null
            },
            "links": {
                "self": "http://localhost/furlough/3/furloughs/2"
            },
            "relationships": {
                "user": {
                    "links": {
                        "self": "http://localhost/furlough/3/furloughs/2/relationships/user",
                        "related": "http://localhost/furlough/3/furloughs/2/user"
                    }
                }
            }
        }
    ],
    "meta": {
        "api": "Service of Attendances",
        "pagination": {
            "total": 2,
            "count": 2,
            "per_page": 10,
            "current_page": 1,
            "total_pages": 1
        }
    },
    "links": {
        "self": "http://localhost/furlough/3/furlough?page=1",
        "first": "http://localhost/furlough/3/furlough?page=1",
        "last": "http://localhost/furlough/3/furlough?page=1"
    }
}
</code></pre>
    </div>
</div>