<div id="reportmonthlyself">
    <!-- Page Heading -->
    <h2 class="mb-3" style="font-weight: bold; color: black;">GET /report/monthly/self</h2>
    <hr>
    <h5 class="mb-2" style="color: black;">Description</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
    <p style="color: black;">
        Endpoint ini digunakan untuk melihat laporan presensi bulanan dari user itu sendiri. 
    </p>
    </div>
    <h5 class="mb-2" style="color: black;">Sumber URL</h5>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">GET</span>
        <input type="text" class="form-control" value="http://localhost:8000/report/monthly/self" disabled>
    </div>
    <h5 class="mb-2" style="color: black;">Headers</h5>
    <table class="table" style="color: black;">
        <thead>
            <tr>
                <th scope="col">Required Headers</th>
                <th scope="col" class="col-9">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><kbd>{Authorization}</kbd></td>
                <td>Isi dengan <kbd>TOKEN</kbd> yang sudah didapatkan dari login dengan format
                    <kbd>Bearer TOKEN</kbd>
                </td>
            </tr>
        </tbody>
    </table>
    <h5 class="mb-2" style="color: black;">Example</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>curl --location --request GET 'localhost:8000/report/monthly/self' ^
--header 'Authorization: Bearer TOKEN'</code></pre>
    </div>
    <h5 class="mb-2" style="color: black;">Response</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>{
    "data": {
        "type": "reports",
        "id": 1,
        "attributes": {
            "user_id": 1,
            "onTime": 0,
            "late": 2,
            "notPresent": 0,
            "permit": 0,
            "sick": 0,
            "checkOutEarly": 2,
            "totalHoursWorked": 0,
            "totalFurlougs": 0,
            "date": null,
            "dateCreated": null,
            "dateUpdated": null,
            "dateDeleted": null
        },
        "links": {
            "self": "http://localhost/report/self/reports/1"
        },
        "relationships": {
            "user": {
                "links": {
                    "self": "http://localhost/report/self/reports/1/relationships/user",
                    "related": "http://localhost/report/self/reports/1/user"
                }
            }
        }
    },
    "meta": {
        "api": "Service of Attendances"
    }
}</code></pre>
    </div>
</div>

<div id="reportself">
    <!-- Page Heading -->
    <h2 class="my-3" style="font-weight: bold; color: black;">GET /report/self</h2>
    <hr>
    <h5 class="mb-2" style="color: black;">Description</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
    <p style="color: black;">
        Endpoint ini digunakan untuk melihat laporan presensi dari user itu sendiri. 
    </p>
    </div>
    <h5 class="mb-2" style="color: black;">Sumber URL</h5>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">GET</span>
        <input type="text" class="form-control" value="http://localhost:8000/report/self" disabled>
    </div>
    <h5 class="mb-2" style="color: black;">Headers</h5>
    <table class="table" style="color: black;">
        <thead>
            <tr>
                <th scope="col">Required Headers</th>
                <th scope="col" class="col-9">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><kbd>{Authorization}</kbd></td>
                <td>Isi dengan <kbd>TOKEN</kbd> yang sudah didapatkan dari login dengan format
                    <kbd>Bearer TOKEN</kbd>
                </td>
            </tr>
        </tbody>
    </table>
    <h5 class="mb-2" style="color: black;">Example</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>curl --location --request GET 'localhost:8000/report/self' ^
--header 'Authorization: Bearer TOKEN'</code></pre>
    </div>
    <h5 class="mb-2" style="color: black;">Response</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>{
    "data": {
        "type": "reports",
        "id": "null",
        "attributes": {
            "user_id": 1,
            "onTime": 0,
            "late": 2,
            "notPresent": 0,
            "permit": 0,
            "sick": 0,
            "checkOutEarly": 2,
            "totalHoursWorked": 0,
            "totalFurlougs": 0,
            "date": null,
            "dateCreated": null,
            "dateUpdated": null,
            "dateDeleted": null
        },
        "links": {
            "self": "http://localhost/report/self/reports/null"
        },
        "relationships": {
            "user": {
                "links": {
                    "self": "http://localhost/report/self/reports/null/relationships/user",
                    "related": "http://localhost/report/self/reports/null/user"
                }
            }
        }
    },
    "meta": {
        "api": "Service of Attendances"
    }
}</code></pre>
    </div>
</div>

<div id="reportmonthlyemployee">
    <h2 class="my-3" style="font-weight: bold; color: black;">GET
        /report/monthly/employee/{optional:user_id}</h2>
    <hr>
    <h5 class="mb-2" style="color: black;">Description</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
    <p style="color: black;">
        Endpoint ini digunakan untuk melihat laporan presensi bulanan dari semua karyawan atau karyawan tertentu. 
    </p>
    </div>
    <h5 class="mb-2" style="color: black;">Sumber URL</h5>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">GET</span>
        <input type="text" class="form-control" value="http://localhost/report/monthly/employee/{optional:user_id}"
            disabled>
    </div>
    <h5 class="mb-2" style="color: black;">Headers</h5>
    <table class="table" style="color: black;">
        <thead>
            <tr>
                <th scope="col">Required Headers</th>
                <th scope="col" class="col-9">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><kbd>{Authorization}</kbd></td>
                <td>Isi dengan <kbd>TOKEN</kbd> yang sudah didapatkan dari login dengan format
                    <kbd>Bearer TOKEN</kbd>
                </td>
            </tr>
        </tbody>
    </table>
    <h5 class="mb-2" style="color: black;">Parameters</h5>
    <table class="table" style="color: black;">
        <thead>
            <tr>
                <th scope="col">Optional Paramaters</th>
                <th scope="col" class="col-9">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><kbd>{id_user}</kbd></td>
                <td>Id dari user</td>
            </tr>
        </tbody>
    </table>
    <h5 class="mb-2" style="color: black;">Example</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>curl --location --request GET 'localhost:8000/report/monthly/employee/' ^
--header 'Authorization: Bearer TOKEN'</code></pre>
    </div>
    <h5 class="mb-2" style="color: black;">Response</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>{
    "data": [
        {
            "type": "reports",
            "id": "1",
            "attributes": {
                "user_id": 1,
                "onTime": 0,
                "late": 1,
                "notPresent": 0,
                "permit": 0,
                "sick": 0,
                "checkOutEarly": 0,
                "totalHoursWorked": 0,
                "totalFurlougs": 0,
                "date": "2021-07-06",
                "dateCreated": "2021-07-06T01:07:14.000000Z",
                "dateUpdated": "2021-07-06T01:07:14.000000Z",
                "dateDeleted": null
            },
            "links": {
                "self": "http://localhost/report/monthly/reports/1"
            },
            "relationships": {
                "user": {
                    "links": {
                        "self": "http://localhost/report/monthly/reports/1/relationships/user",
                        "related": "http://localhost/report/monthly/reports/1/user"
                    }
                }
            }
        },
        {
            "type": "reports",
            "id": "2",
            "attributes": {
                "user_id": 2,
                "onTime": 0,
                "late": 0,
                "notPresent": 0,
                "permit": 0,
                "sick": 0,
                "checkOutEarly": 0,
                "totalHoursWorked": 0,
                "totalFurlougs": 0,
                "date": "2021-07-06",
                "dateCreated": "2021-07-06T01:07:14.000000Z",
                "dateUpdated": "2021-07-06T01:07:14.000000Z",
                "dateDeleted": null
            },
            "links": {
                "self": "http://localhost/report/monthly/reports/2"
            },
            "relationships": {
                "user": {
                    "links": {
                        "self": "http://localhost/report/monthly/reports/2/relationships/user",
                        "related": "http://localhost/report/monthly/reports/2/user"
                    }
                }
            }
        },
        {
            "type": "reports",
            "id": "3",
            "attributes": {
                "user_id": 3,
                "onTime": 0,
                "late": 0,
                "notPresent": 0,
                "permit": 0,
                "sick": 1,
                "checkOutEarly": 0,
                "totalHoursWorked": 19,
                "totalFurlougs": 0,
                "date": "2021-07-06",
                "dateCreated": "2021-07-06T01:07:14.000000Z",
                "dateUpdated": "2021-07-06T01:07:14.000000Z",
                "dateDeleted": null
            },
            "links": {
                "self": "http://localhost/report/monthly/reports/3"
            },
            "relationships": {
                "user": {
                    "links": {
                        "self": "http://localhost/report/monthly/reports/3/relationships/user",
                        "related": "http://localhost/report/monthly/reports/3/user"
                    }
                }
            }
        },
        {
            "type": "reports",
            "id": "4",
            "attributes": {
                "user_id": 4,
                "onTime": 0,
                "late": 0,
                "notPresent": 0,
                "permit": 0,
                "sick": 0,
                "checkOutEarly": 0,
                "totalHoursWorked": 0,
                "totalFurlougs": 0,
                "date": "2021-07-06",
                "dateCreated": "2021-07-06T01:07:14.000000Z",
                "dateUpdated": "2021-07-06T01:07:14.000000Z",
                "dateDeleted": null
            },
            "links": {
                "self": "http://localhost/report/monthly/reports/4"
            },
            "relationships": {
                "user": {
                    "links": {
                        "self": "http://localhost/report/monthly/reports/4/relationships/user",
                        "related": "http://localhost/report/monthly/reports/4/user"
                    }
                }
            }
        }
    ],
    "meta": {
        "api": "Service of Attendances",
        "pagination": {
            "total": 4,
            "count": 4,
            "per_page": 10,
            "current_page": 1,
            "total_pages": 1
        }
    },
    "links": {
        "self": "http://localhost:8000/report/monthly/employee?page=1",
        "first": "http://localhost:8000/report/monthly/employee?page=1",
        "last": "http://localhost:8000/report/monthly/employee?page=1"
    }
}</code></pre>
    </div>
</div>

<div id="reportemployee">
    <h2 class="my-3" style="font-weight: bold; color: black;">GET /report/employee/{user_id}</h2>
    <hr>
    <h5 class="mb-2" style="color: black;">Description</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
    <p style="color: black;">
        Endpoint ini digunakan untuk melihat laporan presensi dari karyawan tertentu. 
    </p>
    </div>
    <h5 class="mb-2" style="color: black;">Sumber URL</h5>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">GET</span>
        <input type="text" class="form-control" value="http://localhost/report/employee/{user_id}" disabled>
    </div>
    <h5 class="mb-2" style="color: black;">Headers</h5>
    <table class="table" style="color: black;">
        <thead>
            <tr>
                <th scope="col">Required Headers</th>
                <th scope="col" class="col-9">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><kbd>{Authorization}</kbd></td>
                <td>Isi dengan <kbd>TOKEN</kbd> yang sudah didapatkan dari login dengan format
                    <kbd>Bearer TOKEN</kbd>
                </td>
            </tr>
        </tbody>
    </table>
    <h5 class="mb-2" style="color: black;">Parameters</h5>
    <table class="table" style="color: black;">
        <thead>
            <tr>
                <th scope="col">Required Paramaters</th>
                <th scope="col" class="col-9">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><kbd>{id_user}</kbd></td>
                <td>Id dari user</td>
            </tr>
        </tbody>
    </table>
    <h5 class="mb-2" style="color: black;">Example</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>curl --location --request GET 'localhost:8000/report/employee/2' ^
--header 'Authorization: Bearer TOKEN'</code></pre>
    </div>
    <h5 class="mb-2" style="color: black;">Response</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>{
    "data": {
        "type": "reports",
        "id": "null",
        "attributes": {
            "user_id": "2",
            "onTime": 0,
            "late": 1,
            "notPresent": 0,
            "permit": 0,
            "sick": 0,
            "checkOutEarly": 0,
            "totalHoursWorked": 0,
            "totalFurlougs": 0,
            "date": null,
            "dateCreated": null,
            "dateUpdated": null,
            "dateDeleted": null
        },
        "links": {
            "self": "http://localhost/report/employee/reports/null"
        },
        "relationships": {
            "user": {
                "links": {
                    "self": "http://localhost/report/employee/reports/null/relationships/user",
                    "related": "http://localhost/report/employee/reports/null/user"
                }
            }
        }
    },
    "meta": {
        "api": "Service of Attendances"
    }
}</code></pre>
    </div>
</div>