<div id="updateUserSelf">

    <h2 class="mb-3" style="font-weight: bold; color: black;">PUT /user/update</h2>
    <hr>
    <h5 class="mb-2" style="color: black;">Description</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <p style="color: black;">
            Endpoint ini digunakan untuk melakukan memodifikasi akun dari karyawan itu sendiri.
        </p>
    </div>
    <h5 class="mb-2" style="color: black;">Sumber URL</h5>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">PUT</span>
        <input type="text" class="form-control" value="http://localhost/user/update" disabled>
    </div>
    <h5 class="mb-2" style="color: black;">Parameters</h5>
    <table class="table" style="color: black;">
        <thead>
            <tr>
                <th scope="col">Required Paramaters</th>
                <th scope="col" class="col-9">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><kbd>{Authorization}</kbd></td>
                <td>Isi dengan <kbd>TOKEN</kbd> yang sudah didapatkan dari login dengan format
                    <kbd>Bearer TOKEN</kbd>
                </td>
            </tr>
            <tr>
                <td><kbd>{name}</kbd></td>
                <td>Nama Lengkap karyawan yang lama atau nama yang dimodifikasi atau baru</td>
            </tr>
            <tr>
                <td><kbd>{email}</kbd></td>
                <td>Email karyawan yang sudah didaftarkan atau email yang baru</td>
            </tr>
            <tr>
                <td><kbd>{password}</kbd></td>
                <td>Password karyawan yang sudah didaftarkan atau password yang baru </td>
            </tr>
            <tr>
                <td><kbd>{address}</kbd></td>
                <td>Data Alamat karyawan yang lama atau yang baru</td>
            </tr>
            <tr>
                <td><kbd>{phoneNumber}</kbd></td>
                <td>Data Nomor Handphone karyawan yang lama atau yang baru</td>
            </tr>
            <tr>
                <td><kbd>{birthDate}</kbd></td>
                <td>Data Tanggal Kelahiran Karyawan yang lama atau yang baru</td>
            </tr>
           
        </tbody>
    </table>
    <h5 class="mb-2" style="color: black;">Example</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>curl --location --request PUT 'localhost:8000/user/update' ^
--header 'Authorization: Bearer TOKEN'^
--form 'name=&quot;Haffad harnandi&quot;' ^
--form 'email=&quot;name@email.com&quot;' ^
--form 'password=&quot;password&quot;'^
--form 'address=&quot;Lamongan ,Indonesia&quot;'^
--form 'phoneNumber=&quot;085791329156&quot;'^
--form 'birthDate=&quot;2000-02-02&quot;'^
</code></pre>
    </div>
    <h5 class="mb-2" style="color: black;">Response</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>
  {
    "data": {
        "type": "users",
        "id": "2",
        "attributes": {
            "name": "Haffad harnandi",
            "email": "name@email.com",
            "password": "$2y$10$UQtfGU2ssfeL/mzwInAbLuBEXxmOupXL78bMmSAK45VXgCK2XOGhq",
            "address": "Lamongan",
            "birthDay": "2002-02-02",
            "phoneNumber": "085791329156",
            "position": "BackEnd",
            "status": "Active",
            "joinDate": "2021-04-26",
            "endDate": null,
            "role": "user",
            "dateCreated": "2021-04-26T04:46:47.000000Z",
            "dateUpdated": "2021-04-26T04:56:36.000000Z",
            "dateDeleted": null
        },
        "links": {
            "self": "http://localhost/user/update/users/2"
        },
        "relationships": {
            "attendance": {
                "links": {
                    "self": "http://localhost/user/update/users/2/relationships/attendance",
                    "related": "http://localhost/user/update/users/2/attendance"
                }
            }
        }
    },
    "meta": {
        "message": "Berhasil Update Data",
        "api": "Service of Attendances"
    }
}
        </code></pre>
    </div>
</div>

<div id="getStatus">

    <h2 class="mb-3" style="font-weight: bold; color: black;">GET /User/{status}</h2>
    <hr>
    <h5 class="mb-2" style="color: black;">Description</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <p style="color: black;">
            Endpoint ini digunakan untuk Melihat karyawan dengan status tertentu seperti Cuti(Furlough), Keluar/Pensiun(Retired) dan Aktif(active).
        </p>
    </div>
    <h5 class="mb-2" style="color: black;">Sumber URL</h5>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">GET</span>
        <input type="text" class="form-control" value="http://localhost/user/{status}" disabled>
    </div>
    <h5 class="mb-2" style="color: black;">Request Untuk Status</h5>
    <table class="table" style="color: black;">
        <thead>
            <tr>
                <th scope="col">Required status</th>
                <th scope="col" class="col-9">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><kbd>{furlough}</kbd></td>
                <td> Untuk Melihat Daftar Karyawan yang dalam masa cuti
                </td>
            </tr>
            <tr>
                <td><kbd>{retired}</kbd></td>
                <td> Untuk Melihat Daftar Karyawan yang dalam telah pensiun atau tidak bekerja lagi untuk perusahaan
                </td>
            </tr>
            <tr>
                <td><kbd>{active}</kbd></td>
                <td> Untuk Melihat Daftar Karyawan yang masih aktif dalam bekerja
                </td>
            </tr>
        </tbody>
    </table>
    <h5 class="mb-2" style="color: black;">Parameters</h5>
    <table class="table" style="color: black;">
        <thead>
            <tr>
                <th scope="col">Required Paramaters</th>
                <th scope="col" class="col-9">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><kbd>{Authorization}</kbd></td>
                <td>Isi dengan <kbd>TOKEN</kbd> yang sudah didapatkan dari login dengan format
                    <kbd>Bearer TOKEN</kbd>
                </td>
            </tr>
        </tbody>
    </table>
    <h5 class="mb-2" style="color: black;">Example for Furlough status</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>curl --location --request GET 'localhost:8000/user/furlough' ^
--header 'Authorization: Bearer TOKEN'^</code></pre>

    </div>
    <h5 class="mb-2" style="color: black;">Response</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>
 {
    "data": [
        {
            "type": "users",
            "id": "4",
            "attributes": {
                "name": "Haffad-Kun",
                "email": "roblox@gmail.com",
                "password": "$2y$10$RgTY304mX5pS2WNJgfRw1ekkYbweclOW9RMLOcbk7fKfEpk8i6lLS",
                "address": "lamongan",
                "birthDay": "2001-01-01",
                "phoneNumber": "028125451245",
                "position": "Mobile Dev",
                "status": "Furlough",
                "joinDate": "2021-04-26",
                "endDate": null,
                "role": "user",
                "dateCreated": "2021-04-26T04:48:31.000000Z",
                "dateUpdated": "2021-04-26T05:09:48.000000Z",
                "dateDeleted": null
            },
            "links": {
                "self": "http://localhost/user/furlough/users/4"
            },
            "relationships": {
                "attendance": {
                    "links": {
                        "self": "http://localhost/user/furlough/users/4/relationships/attendance",
                        "related": "http://localhost/user/furlough/users/4/attendance"
                    }
                }
            }
        },
        {
            "type": "users",
            "id": "3",
            "attributes": {
                "name": "aslam",
                "email": "alsam@gmail.com",
                "password": "$2y$10$.AAVychmVGwfnLVCDEN5oeBzYE2/3Zl.5J.aKVfG9khiQWwpOF4uq",
                "address": "sulawesi",
                "birthDay": "2001-01-01",
                "phoneNumber": "028125451245",
                "position": "Mobile Dev",
                "status": "Furlough",
                "joinDate": "2021-04-26",
                "endDate": null,
                "role": "user",
                "dateCreated": "2021-04-26T04:48:07.000000Z",
                "dateUpdated": "2021-04-26T05:31:06.000000Z",
                "dateDeleted": null
            },
            "links": {
                "self": "http://localhost/user/furlough/users/3"
            },
            "relationships": {
                "attendance": {
                    "links": {
                        "self": "http://localhost/user/furlough/users/3/relationships/attendance",
                        "related": "http://localhost/user/furlough/users/3/attendance"
                    }
                }
            }
        }
    ],
    "meta": {
        "api": "Service of Attendances",
        "pagination": {
            "total": 2,
            "count": 2,
            "per_page": 10,
            "current_page": 1,
            "total_pages": 1
        }
    },
    "links": {
        "self": "http://localhost/user/furlough/users?page=1",
        "first": "http://localhost/user/furlough/users?page=1",
        "last": "http://localhost/user/furlough/users?page=1"
    }
}
        </code></pre>
    </div>
</div>

<div id="getAllUser">

    <h2 class="mb-3" style="font-weight: bold; color: black;">GET /User/</h2>
    <hr>
    <h5 class="mb-2" style="color: black;">Description</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <p style="color: black;">
            Endpoint ini digunakan untuk Melihat data tentang semua karyawan
        </p>
    </div>
    <h5 class="mb-2" style="color: black;">Sumber URL</h5>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">GET</span>
        <input type="text" class="form-control" value="http://localhost/user/" disabled>
    </div>
    <h5 class="mb-2" style="color: black;">Parameters</h5>
    <table class="table" style="color: black;">
        <thead>
            <tr>
                <th scope="col">Required Paramaters</th>
                <th scope="col" class="col-9">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><kbd>{Authorization}</kbd></td>
                <td>Isi dengan <kbd>TOKEN</kbd> yang sudah didapatkan dari login dengan format
                    <kbd>Bearer TOKEN</kbd>
                </td>
            </tr>
        </tbody>
    </table>
    <h5 class="mb-2" style="color: black;">Example </h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>curl --location --request GET 'localhost:8000/user/' ^
--header 'Authorization: Bearer TOKEN'^</code></pre>

    </div>
    <h5 class="mb-2" style="color: black;">Response</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>
 {
    "data": [
        {
            "type": "users",
            "id": "1",
            "attributes": {
                "name": "Admin RHA",
                "email": "admin@gmail.com",
                "password": "$2y$10$EuE0vm3WCY6Sqn2fR3BjMuHMBFhC9Kqwnplx9afA0AzjxMIidn8Ci",
                "address": "malang",
                "birthDay": "1997-09-07",
                "phoneNumber": "0852741936",
                "position": "DevOps Admin",
                "status": "Active",
                "joinDate": "2021-01-01",
                "endDate": null,
                "role": "admin",
                "dateCreated": null,
                "dateUpdated": null,
                "dateDeleted": null
            },
            "links": {
                "self": "http://localhost/user//users/1"
            },
            "relationships": {
                "attendance": {
                    "links": {
                        "self": "http://localhost/user//users/1/relationships/attendance",
                        "related": "http://localhost/user//users/1/attendance"
                    }
                }
            }
        },
        {
            "type": "users",
            "id": "4",
            "attributes": {
                "name": "Haffad-Kun",
                "email": "roblox@gmail.com",
                "password": "$2y$10$RgTY304mX5pS2WNJgfRw1ekkYbweclOW9RMLOcbk7fKfEpk8i6lLS",
                "address": "lamongan",
                "birthDay": "2001-01-01",
                "phoneNumber": "028125451245",
                "position": "Mobile Dev",
                "status": "Active",
                "joinDate": "2021-04-26",
                "endDate": null,
                "role": "user",
                "dateCreated": "2021-04-26T04:48:31.000000Z",
                "dateUpdated": "2021-04-26T04:48:31.000000Z",
                "dateDeleted": null
            },
            "links": {
                "self": "http://localhost/user//users/4"
            },
            "relationships": {
                "attendance": {
                    "links": {
                        "self": "http://localhost/user//users/4/relationships/attendance",
                        "related": "http://localhost/user//users/4/attendance"
                    }
                }
            }
        },
        {
            "type": "users",
            "id": "3",
            "attributes": {
                "name": "aslam",
                "email": "alsam@gmail.com",
                "password": "$2y$10$.AAVychmVGwfnLVCDEN5oeBzYE2/3Zl.5J.aKVfG9khiQWwpOF4uq",
                "address": "sulawesi",
                "birthDay": "2001-01-01",
                "phoneNumber": "028125451245",
                "position": "Mobile Dev",
                "status": "Active",
                "joinDate": "2021-04-26",
                "endDate": null,
                "role": "user",
                "dateCreated": "2021-04-26T04:48:07.000000Z",
                "dateUpdated": "2021-04-26T04:48:07.000000Z",
                "dateDeleted": null
            },
            "links": {
                "self": "http://localhost/user//users/3"
            },
            "relationships": {
                "attendance": {
                    "links": {
                        "self": "http://localhost/user//users/3/relationships/attendance",
                        "related": "http://localhost/user//users/3/attendance"
                    }
                }
            }
        },
        {
            "type": "users",
            "id": "2",
            "attributes": {
                "name": "Yusuf AnBacKed",
                "email": "anback@gmail.com",
                "password": "$2y$10$4srs2Wd.SqEXwNDapD5vduZ4bxyKmcEMWFKkIcjr3rBVnHgx4oL6C",
                "address": "Tegal",
                "birthDay": "2002-02-02",
                "phoneNumber": "085791329156",
                "position": "FrontEnd",
                "status": "Retired",
                "joinDate": "2021-04-26",
                "endDate": "2021-04-26",
                "role": "user",
                "dateCreated": "2021-04-26T04:46:47.000000Z",
                "dateUpdated": "2021-04-26T05:01:26.000000Z",
                "dateDeleted": null
            },
            "links": {
                "self": "http://localhost/user//users/2"
            },
            "relationships": {
                "attendance": {
                    "links": {
                        "self": "http://localhost/user//users/2/relationships/attendance",
                        "related": "http://localhost/user//users/2/attendance"
                    }
                }
            }
        }
    ],
    "meta": {
        "api": "Service of Attendances",
        "pagination": {
            "total": 4,
            "count": 4,
            "per_page": 10,
            "current_page": 1,
            "total_pages": 1
        }
    },
    "links": {
        "self": "http://localhost/user//users?page=1",
        "first": "http://localhost/user//users?page=1",
        "last": "http://localhost/user//users?page=1"
    }
}
        </code></pre>
    </div>
</div>

<div id="getSelf">

    <h2 class="mb-3" style="font-weight: bold; color: black;">GET /User/self</h2>
    <hr>
    <h5 class="mb-2" style="color: black;">Description</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <p style="color: black;">
            Endpoint ini digunakan untuk Melihat Informasi karyawan itu sendiri dalam sistem berdasarkan Token.
        </p>
    </div>
    <h5 class="mb-2" style="color: black;">Sumber URL</h5>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">GET</span>
        <input type="text" class="form-control" value="http://localhost/user/self" disabled>
    </div>

    <h5 class="mb-2" style="color: black;">Parameters</h5>
    <table class="table" style="color: black;">
        <thead>
            <tr>
                <th scope="col">Required Paramaters</th>
                <th scope="col" class="col-9">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><kbd>{Authorization}</kbd></td>
                <td>Isi dengan <kbd>TOKEN</kbd> yang sudah didapatkan dari login dengan format
                    <kbd>Bearer TOKEN</kbd>
                </td>
            </tr>
        </tbody>
    </table>
    <h5 class="mb-2" style="color: black;">Example</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>curl --location --request GET 'localhost:8000/user/self' ^
--header 'Authorization: Bearer TOKEN'^</code></pre>

    </div>
    <h5 class="mb-2" style="color: black;">Response</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>
 {
    "data": {
        "type": "users",
        "id": "4",
        "attributes": {
            "name": "Haffad-Kun",
            "email": "roblox@gmail.com",
            "password": "$2y$10$RgTY304mX5pS2WNJgfRw1ekkYbweclOW9RMLOcbk7fKfEpk8i6lLS",
            "address": "lamongan",
            "birthDay": "2001-01-01",
            "phoneNumber": "028125451245",
            "position": "Mobile Dev",
            "status": "Active",
            "joinDate": "2021-04-26",
            "endDate": null,
            "role": "user",
            "dateCreated": "2021-04-26T04:48:31.000000Z",
            "dateUpdated": "2021-04-26T04:48:31.000000Z",
            "dateDeleted": null
        },
        "links": {
            "self": "http://localhost/user/self/users/4"
        },
        "relationships": {
            "attendance": {
                "links": {
                    "self": "http://localhost/user/self/users/4/relationships/attendance",
                    "related": "http://localhost/user/self/users/4/attendance"
                }
            }
        }
    },
    "meta": {
        "api": "Service of Attendances"
    }
}
        </code></pre>
    </div>
</div>

<div id="getUserById">

    <h2 class="mb-3" style="font-weight: bold; color: black;">GET /User/{user_id}</h2>
    <hr>
    <h5 class="mb-2" style="color: black;">Description</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <p style="color: black;">
            Endpoint ini digunakan untuk Melihat Informasi karyawan dengan ID tertentu.
        </p>
    </div>
    <h5 class="mb-2" style="color: black;">Sumber URL</h5>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">GET</span>
        <input type="text" class="form-control" value="http://localhost/user/{user_id}" disabled>
    </div>

    <h5 class="mb-2" style="color: black;">Parameters</h5>
    <table class="table" style="color: black;">
        <thead>
            <tr>
                <th scope="col">Required Paramaters</th>
                <th scope="col" class="col-9">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><kbd>{Authorization}</kbd></td>
                <td>Isi dengan <kbd>TOKEN</kbd> yang sudah didapatkan dari login dengan format
                    <kbd>Bearer TOKEN</kbd>
                </td>
            </tr>
        </tbody>
    </table>
    <h5 class="mb-2" style="color: black;">Example</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>curl --location --request GET 'localhost:8000/user/4' ^
--header 'Authorization: Bearer TOKEN'^</code></pre>

    </div>
    <h5 class="mb-2" style="color: black;">Response</h5>
    <div class="border border-3 rounded px-3 pt-3 mb-2" style="color: black; background-color: #eaecf4;">
        <pre><code>
 {
    "data": {
        "type": "users",
        "id": "4",
        "attributes": {
            "name": "Haffad-Kun",
            "email": "roblox@gmail.com",
            "password": "$2y$10$RgTY304mX5pS2WNJgfRw1ekkYbweclOW9RMLOcbk7fKfEpk8i6lLS",
            "address": "lamongan",
            "birthDay": "2001-01-01",
            "phoneNumber": "028125451245",
            "position": "Mobile Dev",
            "status": "Active",
            "joinDate": "2021-04-26",
            "endDate": null,
            "role": "user",
            "dateCreated": "2021-04-26T04:48:31.000000Z",
            "dateUpdated": "2021-04-26T04:48:31.000000Z",
            "dateDeleted": null
        },
        "links": {
            "self": "http://localhost/user/self/users/4"
        },
        "relationships": {
            "attendance": {
                "links": {
                    "self": "http://localhost/user/self/users/4/relationships/attendance",
                    "related": "http://localhost/user/self/users/4/attendance"
                }
            }
        }
    },
    "meta": {
        "api": "Service of Attendances"
    }
}
        </code></pre>
    </div>
</div>